<div id="ExtensionsModal" class="modal fade" style="width:60%; margin-left:-30%">
    <div class="modal-header">
        <a tabindex="-1" href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>Help Avina!</h3>
    </div>
    <div class="modal-body">
        <p>You can help contribute to Avina's search results by installing a browser extension. This extension records which web sites you have visited, however it <strong>does not track you.</strong> All data is anonymized. Click on your browser below to install the extension.</p>
        <div style="text-align:center; margin-top:25px;">
            <a tabindex="-1" href="/Content/extensions/bin/avina.crx">
                <img src="~/Content/images/ChromeIcon_128x128.png" style="margin-right:10px" />
            </a>
            <a tabindex="-1" href="/Content/extensions/bin/avina.safariextz">
                <img src="~/Content/images/SafariIcon_128x128.png" />
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <a tabindex="-1" href="#" data-dismiss="modal" class="btn btn-inverse">Close</a>
    </div>
</div>