
@{ ViewBag.Title = "Avina"; }
<table id="T_Results" class="table">
    <thead>
        <tr>
            <th>Site</th>
            <th tabindex="-1">Clicks</th>
            <th tabindex="-1">Submits</th>
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="3" style="text-align:center; background-image:url('/Content/images/ajax-loader.gif'); background-repeat:no-repeat; background-position:center">
        </td></tr>
    </tbody>
</table>
<hr />
@Html.Partial("ExtensionsModal")

@section Scripts {
    <script src="~/Scripts/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.datatables.js" type="text/javascript"></script>
    <script src="~/Scripts/datatables.setFilteringDisplay.js" type="text/javascript"></script>
    <script src="~/Scripts/index.js" type="text/javascript"></script>
}
@section Styles {
    <link href="~/Content/css/bootstrap.datatables.css" rel="stylesheet" type="text/css" />
}