@model IEnumerable<Avina.Models.SiteRecord>
@{ ViewBag.Title = "Avina"; }

<table id="T_Results" class="table">
    <thead>
        <tr><th>Site</th><th>Hits</th><th>Submits</th></tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr><td><a data-purpose="external-click" href="@item.url">@item.title</a></td><td><span class="badge">@item.hits</span></td><td><span class="badge">@item.duplicates</span></td></tr>
        }
    </tbody>
</table>
<hr />
<script src="http://localhost:28462/Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>

@section Scripts {
    <script src="~/Scripts/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.datatables.js" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function () {
            $('#T_Results').dataTable({
                "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "aaSorting": [[1, "desc"], [2, "desc"]],
                "sPaginationType": "bootstrap"
            });

            var searchBox = $('input[type="text"][aria-controls="T_Results"]')
                                .detach()
                                .addClass('span6')
                                .attr('x-webkit-speech', 'x-webkit-speech')
                                .attr('placeholder', 'Search Avina')
                                .css('margin-bottom', 0);
            $('div.dataTables_filter').remove();
            $('form.navbar-search').append(searchBox);

            var nResultsBox = $('select[name="T_Results_length"][aria-controls="T_Results"]')
                                .detach()
                                .addClass('span1')
                                .css('margin-left', '5px')
                                .css('margin-top', '6px')
                                .css('margin-bottom', '0px');
            $('#T_Results_wrapper > div.row').remove();
            $('ul.nav-select').append($('<li>').append(nResultsBox));

            //nav-select <select size="1"  style="
            //    float: left;
            //    margin-top: 6px;
            //    margin-left: 3px;
            //" class="span1"><option value="10" selected="selected">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></li>



            //<input class="span7" style="margin-bottom:0" size="16" type="text" placeholder="Search" />
            $('tr td a').on('click', function (e) {
                if ($(this).attr('data-purpose') === 'external-click') {
                    //e.preventDefault();
                    $.ajax({
                        async: false,
                        type: 'POST',
                        data: $(this).attr('href'),
                        url: '/submit/click'
                    });
                }
            });
        });
    </script>
}
@section Styles {
    <link href="~/Content/css/bootstrap.datatables.css" rel="stylesheet" type="text/css" />
}