@{ ViewBag.Title = "Avina Browser Extensions"; }

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="/Info">Information</a> <span class="divider">/</span></li>
    <li class="active">Extensions</li>
</ul>
<p>You can help contribute to Avina's search results by installing a browser extension. 
   This extension records which web sites you have visited, however it <strong>does not 
   track you.</strong> All data is anonymized. Click on your browser below to install the 
   extension.</p>
<div style="text-align:center; margin-top:25px;">
    <a tabindex="-1" href="@Url.Content("~/Content/files/avina.crx")">
        <img src="~/Content/images/ChromeIcon_128x128.png" style="margin-right:10px" />
    </a>
    <a tabindex="-1" href="@Url.Content("~/Content/files/avina.safariextz")">
        <img src="~/Content/images/SafariIcon_128x128.png" />
    </a>
</div>