@(Layout = null)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avina - Powered by You</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="media screen and (max-device-width : 768px)" />
    <link href="~/Content/css/Views/Search/Landing.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div id="content" class="row-fluid">
            <form method="get" class="form-inline" action="/">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-append">
                            <input class="input-xxlarge" type="search" id="q" name="q" autofocus="true" x-webkit-speech onwebkitspeechchange="document.forms[0].submit();" spellcheck="true" placeholder="Search Avina" /><input tabindex="-1" class="btn" type="submit" value="Search" />
                        </div>
                        <p class="help-block" style="margin-top:10px;"><a href="/LearnMore">Learn More &raquo;</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer>
        Avina is a <a tabindex="-1" href="http://seditious-tech.com/">Seditious Technologies</a> Experiment. Hosted by <a tabindex="-1" href="http://appharbor.com">AppHarbor</a>.
    </footer>
    <script src="~/Scripts/Utils/analytics.js" type="text/javascript"></script>
</body>
</html>