@{ 
    ViewBag.Title = "ACP";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
 }

 <div class="row">
    <div class="span6">
        <div class="page-header">
            <h3>Remove Listing</h3>
        </div>
        <form id="removeListingForm" class="form-inline">
            <input id="removeListingUrl" type="url" class="span5" placeholder="URL to Delete" />
            <button type="submit" class="btn btn-danger"><i class="icon-remove icon-white"></i> Kill</button>
        </form>
    </div>
    <div class="span6">
        <div class="page-header">
            <h3>Filter/Purge Bad Entries</h3>
        </div>
        <a id="FilterPurge_Button" class="btn btn-large btn-danger">Purge this Shit</a>
    </div>
 </div>

 @section Scripts {
    @*<script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        $('#removeListingForm').submit(function (e) {
            e.preventDefault();
            $.post('/ACP/DeleteUrl', $('#removeListingUrl').val(), function (stat) {
                if (stat) {
                    $('#removeListingUrl').attr('placeholder', 'Url Deleted').val('');
                }
                else {
                    $('#removeListingUrl').attr('placeholder', 'Error Deleting Url').val();
                }
            });
        });

        $('#FilterPurge_Button').click(function () {
            $.post('/ACP/PurgeWithFilters', null, function (result) {
                if (result) $('#PurgeFilters_Button').text('Purged').delay(2500).text('Purge');
                else        $('#PurgeFilters_Button').text('Error').delay(2500).text('Purge');
            });
        });
    </script>
 }