@{ 
    ViewBag.Title = "ACP";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
 }

 <div class="row">
    <div class="span6">
        <div class="page-header">
            <h3>Remove Listing</h3>
        </div>
        <form id="removeListingForm" class="form-inline">
            <input id="removeListingUrl" type="url" class="span5" placeholder="URL to Delete" />
            <button type="submit" class="btn btn-danger"><i class="icon-remove icon-white"></i> Kill</button>
        </form>
    </div>
    <div class="span6">
        <div class="page-header">
            <h3>Filter/Purge Bad Entries</h3>
        </div>
        <a id="FilterPurge_Button" class="btn btn-large btn-danger">Purge this Shit</a>
    </div>
    <div class="span6">
        <hr />
        <h3>Search Engine Index</h3>
        <div>
            <a id="RebuildIndex_Button" class="btn btn-large btn-danger">Rebuild Index</a>
        </div>
        <table id="T_IndexStatus" class="table table-condensed table-bordered"></table>
        <div class="progress">
            <div id="PB_IndexStatus" class="bar" style="width:0%;"></div>
        </div>
    </div>
 </div>

 @section Scripts {
    @*<script src="../../Scripts/jquery-1.7.1-vsdoc.js" type="text/javascript"></script>*@
    <script type="text/javascript">
        $('#removeListingForm').submit(function (e) {
            e.preventDefault();
            $.post('/ACP/DeleteUrl', $('#removeListingUrl').val(), function (stat) {
                if (stat) {
                    $('#removeListingUrl').attr('placeholder', 'Url Deleted').val('');
                }
                else {
                    $('#removeListingUrl').attr('placeholder', 'Error Deleting Url').val();
                }
            });
        });

        $('#FilterPurge_Button').click(function () {
            $.post('/ACP/PurgeWithFilters', null, function (result) {
                if (result) $('#PurgeFilters_Button').text('Purged').delay(2500).text('Purge');
                else        $('#PurgeFilters_Button').text('Error').delay(2500).text('Purge');
            });
        });

        $('#RebuildIndex_Button').click(function () {
            $.post('/ACP/RebuildIndex', null, function (result) {
                if (result) $('#RebuildIndex_Button').text('Rebuilding');
            });
        });

        $().ready(function () {
            setInterval(function () {
                $.getJSON('/ACP/IndexStatus', function (result) {
                    if (!result.isRebuilding) {
                        $('#RebuildIndex_Button').text('Rebuild Index');
                    }
                    else {
                        var percent = parseFloat(result.currentItems) / parseFloat(result.totalItems);
                        $('#PB_IndexStatus').css('width', percent + '%');
                    }
                    $('#T_IndexStatus > tbody > tr').remove();

                    $('#T_IndexStatus').append('<tr><td>Total Items  </td><td>' + result.totalItems + '</td></tr>')
                                       .append('<tr><td>Current Items</td><td>' + result.currentItems + '</td></tr>');
                });
            }, 1000);
        });
    </script>
 }