@{ 
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section Scripts {
    <script src="@Url.Content("https://browserid.org/include.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $('#loginButton').click(function () {
            navigator.id.getVerifiedEmail(function (assertion) {
                if (assertion !== null) {
                    $.ajax({
                        type: 'POST',
                        url: '/ACP/SignIn',
                        data: {
                            assertion: assertion
                        },
                        success: function (res, status, xhr) {
                            if (res != null) {
                                window.location = '/ACP';
                            }
                        },
                        error: function (res, status, xhr) {
                            alert("login failure");
                        }
                    });
                }
            });
        });
    </script>
}
<div style="text-align:center">
    <a id="loginButton" class="btn btn-inverse btn-large"><i class="icon-lock icon-white"></i> Sign In</a>
</div>
