<div id="AboutModal" class="modal fade" style="width:60%; margin-left:-30%">
    <div class="modal-header">
        <a tabindex="-1" href="#" class="close" data-dismiss="modal">&times;</a>
        <h3>About Avina</h3>
    </div>
    <div class="modal-body">
        <h4>Another search engine?</h4>
        <p>Avina is a different kind of search engine. We don't crawl the web for every web page that has ever existed.
           Results that are added to search engine are from users who have installed the 
           <a data-dismiss="modal" data-toggle="modal" href="#ExtensionsModal">Browser extension</a>. So if someone
           has seen a web page, it's searchable from within Avina.</p>

        <h4>What does this mean?</h4>
        <ul>
            <li>If it's in Avina, a real <em>human user</em> has viewed the page</li>
            <li>The more <span class="badge badge-success">clicks</span> a page has, the more useful it has been to people searching for stuff</li>
            <li>The more <span class="badge badge-info">submits</span> a page has, the more people have visited it from their browser</li>
        </ul>
    </div>
    <div class="modal-footer">
        <a tabindex="-1" href="#" data-dismiss="modal" class="btn btn-inverse">Close</a>
    </div>
</div>