@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Oh Snap!</h1>
    <p>An error occurred while processing your request. We'll get right on that!</p>
</body>
</html>