@model IEnumerable<Avina.Models.SiteRecord>
@{ ViewBag.Title = "Test"; }
@section Scripts {
    <script src="~/Scripts/jquery.isotope.js" type="text/javascript"></script>
    <script>
        $('#searchContainer').isotope({
            itemSelector: '.item',
            animationEngine: 'best-available'
        });
    </script>
}
@section Styles {
    <link href="~/Content/css/jquery.isotope.css" rel="stylesheet" type="text/css" />
    <style>
    #searchContainer {
        border: 1px solid #666;
        padding: 5px;
        margin-bottom: 20px;
    }
    .item {
        width: 210px;
        @*height: 110px;*@
        margin: 5px;
        float: left;
        overflow: hidden;
        position: relative;
        background: #888;
        color: #222;
        -webkit-border-top-right-radius: 1.2em;
        -moz-border-radius-topright: 1.2em;
        border-top-right-radius: 1.2em;
    }

    a.item {
        text-decoration:none;
        font-size:24px;
        padding:5px;
    }
    </style>
}

<div id="searchContainer">
    @foreach (var item in Model)
    {
    <a class="item" href="@item.url">
        @item.title 
        <span class="label label-success">@item.hits</span>
        <span class="label label-info">@item.duplicates</span>
    </a>
    }
</div>